body {
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 6px;
    font-size: 14px;
}

.nav-search-container {
    width: 40vw;
}

.homeContainer {
    width: 70vw;
}